<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>POC - Web Portal</title>
</head>

<body>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="prod : ${products}">
            <td th:text="${prod.id}" ></td>
            <td th:text="${prod.name}" ></td>
            <td th:text="${prod.price}" ></td>
        </tr>
    </tbody>
</table>

</body>

</html>